body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.75;
}

.pagetitle {
    font-size: 48px;
}

.ournames {
    font-size: 32px;
}

.thankyou {
    font-size: 40px;
}

.event1_title, .event2_title, .event3_title, .overview_title, .fun_facts_title, .sources_title {
    font-size: 24px;
}

.introduction, .event1, .event2, ol, .event3 {
    text-align: left;
}

.img1, .gif1, .img4 {
    float: left;
    width: 350px;
    padding-right: 25px;
}

.img2, .img3 {
    float: right;
    width: 350px;
    padding-left: 25px;
}

.container, .container2 {
    display: flex;
    align-items: flex-start;
}

.container3 {
    display: flex;
    align-items: center;
}

.container4 {
    display: flex;
    flex-direction: column;
}