body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.75;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.event1_title, .event2_title, .event3_title, .overview_title, .fun_facts_title, .sources_title {
    font-size: 24px;
}

.introduction, .event1, .event2, ol {
    text-align: left;
}

.img1 {
    float: left;
    width: 350px;
    padding-right: 25px;
}

.img2 {
    float: right;
    width: 350px;
    padding-left: 25px;
}

.container, .container2 {
    display: flex;
    align-items: flex-start;
}