body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    line-height: 1.75;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.introduction {
    text-align: left;
}