body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.75;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.introduction, .event1, .event2 {
    text-align: left;
}